[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-admin = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
email-validator = "*"
dynaconf = "*"
flask-security-too = "*"
flask-debugtoolbar = "*"

[requires]
python_version = "3.7"
